@model Cooperatives.Models.ProfileModel

@{
    ViewBag.Title = "Delete Profile";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h3 class="text-center">Are you sure you want to delete your profile?</h3>
            <hr />
            <table class="table table-bordered table-striped">
                <tbody>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.UserId)</th>
                        <td>@Html.DisplayFor(model => model.UserId)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.PhoneNumber)</th>
                        <td>@Html.DisplayFor(model => model.PhoneNumber)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Email)</th>
                        <td>@Html.DisplayFor(model => model.Email)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Address)</th>
                        <td>@Html.DisplayFor(model => model.Address)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.IDnumber)</th>
                        <td>@Html.DisplayFor(model => model.IDnumber)</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <input type="submit" value="Delete" class="btn btn-danger" /> |
                        @Html.ActionLink("Back", "Dashboard", null, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
    </div>
</div>
