
@model Cooperatives.Models.RegisterModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/logo.jpg">
    <title> Copperative Management</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/CustomCss.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/material-dashboard-new.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/ladda-themeless.min.css">
    <link rel="stylesheet" href="~/assets/css/customFooter.css">
    <style>
        .required::after {
            content: "*";
            font-weight: bold;
            color: red;
        }
    </style>

</head>
<body>
    <div class="main-wrapper">
        </div>
        <div class="page-wrapper job-wrapper">
            <div class="content container" style="width:100%">
                <center><h2>Registration Form<i><p class="page-title"></p></i></h2></center>

                <div class="main-wrapper">
                    <div class="row">
                        <div class="content container-fluid">
                            <div class="content">
                                <div class="card">

                                    <div class="form-group">
                                        @using (Html.BeginForm("Register", "Home", FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken()
                                            <div class="form-group">
                                                @if (TempData["error"] != null)
                                                {
                                                    <div class="alert alert-danger" id="alert-danger" role="alert">
                                                        @TempData["error"]
                                                    </div>
                                                }
                                                @if (TempData["success"] != null)
                                                {
                                                    <script>

                                                            alert('@TempData["success"]');

                                                            window.setTimeout(function () {
                                                                location.href = "../Home/Login";
                                                            }, 1000);



                                                    </script>
                                                }


                                            </div>
                                            <div class="panel-body">
                                                @*<div class="row">


        </div>*@
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.FirstName, new { htmlAttributes = new { @class = "control-label col-md-2" } })
                                                        <div class="form-group has-success has-feedback">
                                                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control floating", @required = "required", placeholder = " " } })
                                                            <span class="glyphicon glyphicon-ok-sign form-control-feedback" aria-hidden="true"></span>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "error" })
                                                    </div>
                                                </div>

                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Surname, new { htmlAttributes = new { @class = "control-label col-md-2" } })
                                                        <div class="form-group has-success has-feedback">
                                                            @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control floating", @required = "required", placeholder = " " } })
                                                            <span class="glyphicon glyphicon-ok-sign form-control-feedback" aria-hidden="true"></span>
                                                        </div>
                                                        <div>
                                                            @Html.ValidationMessageFor(m => m.Surname, "", new { @class = "error" })
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.OtherName, new { htmlAttributes = new { @class = "control-label col-md-2" } })
                                                        <div class="form-group has-success has-feedback">
                                                            @Html.EditorFor(model => model.OtherName, new { htmlAttributes = new { @class = "form-control floating" } })
                                                            <span class="glyphicon glyphicon-ok-sign form-control-feedback" aria-hidden="true"></span>
                                                        </div>
                                                        <div>
                                                            @Html.ValidationMessageFor(m => m.OtherName, "", new { @class = "error" })
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                             
                                              
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.Email, new { htmlAttributes = new { @class = "control-label col-md-2" } })
                                                            <div class="form-group has-success has-feedback">
                                                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control floating", @required = "required", placeholder = " " } })
                                                                <span class="glyphicon glyphicon-envelope form-control-feedback" aria-hidden="true"></span>
                                                            </div>
                                                            <div>
                                                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "error" })
                                                            </div>
                                                        </div>

                                                    </div>

                                              
                                             
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.Password, new { htmlAttributes = new { @class = "control-label col-md-2" } })
                                                            <div class="form-group has-success has-feedback">
                                                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control floating", @required = "required", placeholder = " " } })
                                                                <span class="glyphicon glyphicon-envelope form-control-feedback" aria-hidden="true"></span>
                                                            </div>
                                                            <div>
                                                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "error" })
                                                            </div>
                                                        </div>

                                                    </div>

                                             
                                              
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "control-label col-md-2" } })
                                                            <div class="form-group has-success has-feedback">
                                                                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control floating", @required = "required", placeholder = " " } })
                                                                <span class="glyphicon glyphicon-envelope form-control-feedback" aria-hidden="true"></span>
                                                            </div>
                                                            <div>
                                                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "error" })
                                                            </div>
                                                        </div>

                                                    </div>

                                                
                                                <div class="row">
                                                    <center>
                                                        <div id="loader" style="display:none" class="modal">
                                                            <img src="~/assets/img/loader.gif" />
                                                        </div>
                                                    </center>

                                                </div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-6 col-lg-6">
                                                            @Html.ActionLink("Cancel", "Login", "Home", null, new { @class = "btn btn-danger ladda-button" })
                                                        </div>
                                                        
                                                        <div class="row align-items-center">
                                                            <div class="col">



                                                                <input type="submit" value="Submit Registration" class="btn btn-primary ladda-button" />



                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            

                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        @*<footer class="site-footer">
            @Html.Action("Footer", "Home")
        </footer>*@
        <div class="sidebar-overlay" data-reff="#sidebar"></div>
        <script type="text/javascript" src="~/assets/js/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="~/assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/assets/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="~/assets/js/dataTables.bootstrap.min.js"></script>
        <script type="text/javascript" src="~/assets/js/jquery.slimscroll.js"></script>
        <script type="text/javascript" src="~/assets/js/select2.min.js"></script>
        <script type="text/javascript" src="~/assets/js/moment.min.js"></script>
        <script type="text/javascript" src="~/assets/js/bootstrap-datetimepicker.min.js"></script>
        <script type="text/javascript" src="~/assets/js/app.js"></script>
        <script type="text/javascript" src="~/assets/customJs/supplierRegistration.js"></script>
        <script type="text/javascript" src="~/assets/customJs/sweetalert.min.js"></script>
        <script type="text/javascript" src="~/assets/CutsomJs/RegisterNewCandidate.js"></script>
        <!-- Sweet Alert Js -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
        <script type="text/javascript">
        $(document).ready(function () {
            document.getElementsByClassName("loader")[0].style.display = "block";
            $('form').submit(function () {
                if (!someValidations()) {
                    return false;
                } else {
                    $('form #loader').show();
                }
                return true;
            });

            function someValidations() {
                return true;
            }

        });
        </script>
        <script type="text/javascript">
        //this will add * next to required label
        $('input[type=text],input[type=radio],input[type=checkbox],textarea,select,input[type=email],input[type=number]').each(function () {
            var req = $(this).attr('data-val-required');
            var exclude = $(this).attr('data-exclude');
            if (undefined != req && undefined == exclude) {
                var label = $('label[for="' + $(this).attr('id') + '"]');
                var text = label.text();
                if (text.length > 0) {
                    label.append('<span style="color:red"> *</span>');
                }
            }
        });
        </script>
</body>
</html>
